= form_for book, :action => (book.new_record? ? resource(:books) : resource(book)) do
  .field= text_field :isbn, :label => 'ISBN', :class => 'medium'
  .field= text_field :title, :label => 'Title'
  .field= select :publisher_id, :label => 'Publisher', :collection => @publishers, :text_method => :name, :value_method => :id, :include_blank => true
  .field= text_field :pages, :label => 'Pages', :class => 'small'
  .field= submit(book.new_record? ? 'Create' : 'Update')