.item-short
  - image = item.images.small
  - if image
    .image= link_to(image_tag(image.url), url(:item, item)) if image

  .stars
    .count= "(#{item.reviews.count})"
    = '&#9733;' * item.stars + ((item.stars == item.stars.to_i) ? '' : '&#189;')

  .title= link_to item.title, url(:item, item)
  .authors
    by
    = partial 'authors/list', :authors => item.authors