- title @item.title

.item
  .stars
    ='&#9733;' * @item.stars + ((@item.stars == @item.stars.to_i) ? '' : '&#189;')

  .authors
    by
    = partial 'authors/list', :authors => @item.authors

  - if @item.publisher
    .publisher
      %label Publisher:
      = @item.publisher.name
  
  - if @item.pages.to_i > 0
    .pages
      %label Pages:
      = @item.pages
      
  - if @item.description
    .description
      = @item.description
  
  = partial 'reviews/for_item', :item => @item
  
  - if session.authenticated?
    = form_for @review, :action => resource(:reviews), :class => 'review' do
      = fieldset :legend => "Add a Review" do
        .field= select :score, :collection => (1..5).map {|i| [i, '&#9733;' * i]}
        .field= text_area :body
        = hidden_field :item_id, :value => @item.id
        .field= submit "Add Review"

- throw_content :sidebar do
  = link_to 'Edit', url(:edit_item, @item)