- title @item.title

.item
  - image = @item.images.medium
  - if image
    .image= image_tag(@item.images.medium.url)

  .stars
    ='&#9733;' * @item.stars + ((@item.stars == @item.stars.to_i) ? '' : '&#189;')

  .authors
    by
    = partial 'authors/list', :authors => @item.authors

  .details
    - if @item.publisher
      .publisher
        %label Publisher:
        = link_to @item.publisher.name, url(:publisher, @item.publisher)

    - if @item.published
      .published
        %label Published:
        = @item.published
  
    - if @item.pages.to_i > 0
      .pages
        %label Pages:
        = @item.pages

      - if @item.isbn
        .isbn
          %label ISBN:
          = @item.isbn_10
      
    - if @item.detail_url
      .detail_link
        = link_to 'More details', @item.detail_url, :target => '_blank'
  
  .clear
    %hr
  
  - if @item.description
    .description
      = @item.description
  
  = partial 'reviews/for_item', :item => @item
  
  - if session.authenticated?
    = form_for @review, :action => resource(:reviews), :class => 'review' do
      = fieldset :legend => "Add a Review" do
        .field= select :score, :collection => (1..5).map {|i| [i, '&#9733;' * i]}
        .field= text_area :body
        = hidden_field :item_id, :value => @item.id
        .field= submit "Add Review"

- throw_content :sidebar do
  = link_to 'Edit', url(:edit_item, @item)